*.o
*.a
*.d
*.pch
*.pyc
*.elf
*.bin
*.pickle
*.coverage
*.map
/csr-tool/cisco
/csr-tool/html
/libc/build
/libc/mipsisa64-octeon-elf
/docs/*.html
/docs/api-docs
/docs/lua-modules
/libbdk-arch/bdk-version.c
/libbdk-dram/lib_octeon_shared.c
/libbdk-dram/octeon3_lmc.h
/libbdk-lua/lib_octeon_board_table_entry.i
/libbdk/bdk-functions.c
/libbdk/bdk-fs-rom-files.c
/libbdk-hal/if/bdk_microcode_cn78xx.c
/bdk-boot/bdk-minimal
/bdk-boot/bdk-full
/bdk-boot/bdk-reset-rtl
/bdk-boot/bdk-quick-boot
/bdk-boot/bdk-another-node
/tests/hw-and-sim/crypto/crypto
/tests/hw-and-sim/passthrough/passthrough
/tests/hw-only/pcie-dma-test/pcie-dma-test
/utils/bdk-lua/bdk-lua-*
/utils/bdk-luac/bdk-luac-*
/octeon-bdk-*.tgz
/target-bin/bdk-*-no-romfs*
/lua-modules/bdk-version.lua
