*.o
*.a
*.d
*.pch
*.pyc
*.elf
*.bin
*.pickle
*.coverage
*.map
*.swp
*.orig
tags
cscope.out
/apps/boot/app
/apps/diagnostics/app
/apps/init/app
/bdk.vpwhistu
/bdk.vtg
/csr-tool/output
/csr-tool/html
/csr-tool/yaml
/libc/build
/libc/share
/libc/aarch64-thunderx-elf
/docs/*.pdf
/docs/api-docs
/docs/lua-modules
/libbdk-arch/bdk-version.c
/libbdk-hal/if/bdk-microcode-cn8xxx.c
/libbdk/bdk-functions.c
/libbdk/bdk-fs-rom-files.c
/tests/hw-and-sim/crypto/crypto
/tests/hw-and-sim/passthrough/passthrough
/utils/bdk-lua/bdk-lua-*
/utils/bdk-luac/bdk-luac-*
/utils/fatfs-tool/fatfs-tool
/target-bin/original
/lua-modules/bdk-version.lua
