*.o
*.a
*.d
*.pch
*.pyc
*.elf
*.bin
*.pickle
*.coverage
*.map
/csr-tool/output
/csr-tool/html
/csr-tool/cn8?xx
/libc/build
/libc/share
/libc/aarch64-thunderx-elf
/docs/*.pdf
/docs/api-docs
/docs/lua-modules
/libbdk-arch/bdk-version.c
/libbdk/bdk-functions.c
/libbdk/bdk-fs-rom-files.c
/bdk-boot/bdk-full-no-romfs
/bdk-boot/bdk-stage1
/bdk-boot/bdk-xmodem-load
/tests/hw-and-sim/crypto/crypto
/tests/hw-and-sim/passthrough/passthrough
/utils/bdk-lua/bdk-lua-*
/utils/bdk-luac/bdk-luac-*
/target-bin/original
/lua-modules/bdk-version.lua
